img[src*="#thumbnail_fw"] {
  width: 100%;
  max-width: 740px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[src*="#thumbnail_mw"] {
  width: 100%;
  max-width: 432px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[src*="#thumbnail_sw"] {
  width: 100%;
  max-width: 300px;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
