:root {
  --primary: #074c4f;
  --darkprimary: #042d2f;
  --accents: #49beb7;
  --lightaccents: #ecfffb;
  --redaccents: #fd3f3f;
  --yellowaccents: #facf5a;
  --whitey: #ffffff;
  --dark: #242424;
}

.login__section {
  position: relative;
  padding: 6.25rem 0 6.25rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--whitey);
}

.darkBg {
  background-color: var(--darkprimary);
}

.login__wrapper {
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}

.error__container {
  /* border: 2px solid red; */
  position: relative;
  width: 300px;
  height: auto;
  border-radius: 5px;
  background-color: var(--yellowaccents);
}

.error__btn {
  position: absolute;
  top: 5%;
  right: 3%;
  fill: var(--darkprimary);
  cursor: pointer;
}

.error__message {
  /* border: 2px solid yellow; */
  width: 100%;
  margin: 20px 0;
  padding: 0 30px 0 10px;
  color: var(--darkprimary);
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.message__break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.inputs__container {
  /* border: 2px solid yellow; */
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.input__form {
  /* border: 2px solid red; */
  height: auto;
  display: flex;
  flex-flow: column;
}

.form__group {
  /* border: 2px solid yellow; */
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
}

.form__label {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--primary);
}

.darkLabel {
  color: #fff;
}

.form__inputfield {
  width: 300px;
  height: 45px;
  border: transparent;
  border-bottom: 2px solid var(--primary);
  border-radius: 5px;
  font-size: 1rem;
  padding: 0 10px;
}

.darkInputfield {
  border-color: var(--whitey);
}

.form__inputfield:focus {
  outline: none;
  border: 2px solid var(--accents);
}

.form__inputfield:hover {
  border-width: 2px;
  border-color: var(--accents);
}

/* max-width: 960px */
@media screen and (max-width: 60rem) {
  .login__wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .inputs__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
